* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.clear:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

i,
b {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #666;
}

.left {
  float: left;
}

.right {
  float: right;
}

.warper {
  width: 1228px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 40px;
  background: #666;
  line-height: 40px;
}

header .left > li {
  float: left;
}

header .right > li {
  float: left;
}

header .right > li a {
  border-right: 1px solid #ccc;
  padding: 0 8px 0 0;
}

header a {
  color: #ccc;
  margin: 0 10px;
  font-size: 14px;
}

header a:hover {
  color: #fff;
}

.header {
  position: relative;
  margin: 10px 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.header .box {
  position: absolute;
  top: 0px;
  left: 60px;
}

.header .logo {
  display: inline-block;
}

.header h1 {
  display: inline-block;
  font-style: normal;
  font-size: 20px;
  color: #666;
  margin-left: 10px;
}

.itemlist {
  list-style: none;
  overflow: hidden;
}

.itemlist .item {
  border-bottom: 1px solid #999;
  margin: 20px;
  overflow: hidden;
  padding-left: 60px;
}

.itemlist .item > div {
  float: left;
  margin: 20px 20px;
  padding-top: 10px;
}

.p-img img {
  width: 100px;
}

.p-num {
  line-height: 50px;
}

.SUM {
  position: absolute;
  top: 20px;
  left: 800px;
  font-size: 25px;
}

.jian1 {
  position: absolute;
  top: 20px;
  left: 600px;
  font-size: 25px;
}

.jian {
  color: red;
}

.SUM1 {
  color: red;
}

.del,
.c-box {
  line-height: 50px;
}

.p-price,
.p-sum {
  color: red;
  line-height: 50px;
}

.p-title {
  width: 400px;
  line-height: 50px;
  color: #555;
  font-size: 20px;
}

.payment {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.payment a {
  line-height: 100px;
  margin: 0px 20px 20px 40px;
}

.payment .pay {
  padding: 0;
  color: #fff;
  width: 200px;
  height: 70px;
  display: block;
  cursor: pointer;
  border: 0;
  line-height: 70px;
  text-align: center;
  background: red;
  font-size: 16px;
  margin-right: 60px;
}

.foot-top {
  width: 100%;
  height: 120px;
  background: #f0f0f0;
  margin: 0;
}

.foot-top li {
  width: 22%;
  float: left;
  text-align: center;
  line-height: 80px;
}

.foot-top li i {
  font-size: 30px;
}

.foot-top li span {
  font-size: 20px;
}

.help {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.help dl {
  float: left;
  font-size: 14px;
  margin: 20px 40px;
  text-align: center;
  line-height: 20px;
}

.help dl dt {
  margin-bottom: 10px;
}

.help dl .phone {
  color: red;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.help dl .grey {
  font-size: 12px;
  margin-bottom: 20px;
}

.help dl .kf {
  border: 2px solid red;
  color: red;
  padding: 4px 20px;
}

.help dl .kf:hover {
  background: red;
  color: #fff;
}

.foot-bot {
  width: 100%;
  padding: 25px 0;
  font-size: 12px;
  color: #999;
  background-color: #e3e3e3;
  position: relative;
}

.foot-bot li {
  float: left;
  margin: 10px 10px;
  padding: 0 10px;
  border-right: 1px solid #999;
}

.gsba {
  text-align: center;
  width: 100%;
}

.language {
  position: absolute;
  right: 40px;
  top: 50px;
}

.wechat {
  position: relative;
}

.wechat .wechat-1 {
  width: 100px;
  height: 140px;
  background: #fff;
  display: none;
  position: absolute;
  left: -10px;
  bottom: -140px;
  z-index: 999;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}

.wechat .wechat-1 img {
  width: 100px;
  height: 100px;
}

.wechat:hover .wechat-1 {
  display: block;
}

.ALL {
  line-height: 20px;
  font-size: 12px;
  display: inline-block;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 40px;
}

.ALL span {
  margin: 10px;
  color: #999;
}

.ALL .all {
  width: 14px;
  height: 14px;
}

.box-ewm {
  width: 400px;
  height: 400px;
}

.box-ewm img {
  width: 100%;
  height: 100%;
}

.box-ewm p {
  text-align: center;
  font-size: 22px;
  color: red;
  font-weight: 600;
}

.pri,
.add {
  color: red;
}

.replace {
  height: 400px;
  margin-left: 200px;
}
