@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

li {
    list-style: none
}

.clear:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

i,
b {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #666;
}

.left {
    float: left;
}

.right {
    float: right;
}

.warper {
    width: 1228px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 40px;
    background: #666;
    line-height: 40px;
    .left>li {
        float: left;
    }
    .right>li {
        float: left;
        a {
            border-right: 1px solid #ccc;
            padding: 0 8px 0 0;
        }
    }
    a {
        color: #ccc;
        margin: 0 10px;
        font-size: 14px;
        &:hover {
            color: #fff;
        }
    }
}

.header {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    .box {
        position: absolute;
        top: 0px;
        left: 60px;
    }
    .logo {
        display: inline-block;
    }
    h1 {
        display: inline-block;
        font-style: normal;
        font-size: 20px;
        color: #666;
        margin-left: 10px;
    }
}

// .itemlist {
//     list-style: none;
//     overflow: hidden;
// }
// .itemlist .item {
//     border: 1px solid #999;
//     margin: 20px;
//     overflow: hidden;
// }
// .itemlist .item>div {
//     float: left;
//     margin: 30px 20px;
// }
// .p-img img {
//     width: 100px;
// }
// .p-price,
// .p-sum {
//     color: red;
// }
// .p-title {
//     width: 500px;
//     color: #555;
//     font-size: 20px;
// }
.itemlist {
    list-style: none;
    overflow: hidden;
}

// .item {
//     padding-top: 10px
// }
.itemlist .item {
    border-bottom: 1px solid #999;
    margin: 20px;
    overflow: hidden;
    padding-left: 60px;
}

.itemlist .item>div {
    float: left;
    margin: 20px 20px;
    padding-top: 10px;
}

.p-img img {
    width: 100px;
}

.p-num {
    line-height: 50px;
}

.SUM {
    position: absolute;
    top: 20px;
    left: 800px;
    font-size: 25px;
}

.jian1 {
    position: absolute;
    top: 20px;
    left: 600px;
    font-size: 25px;
}

.jian {
    color: red;
}

.SUM1 {
    color: red;
}

.del,
.c-box {
    line-height: 50px;
}

.p-price,
.p-sum {
    color: red;
    line-height: 50px;
}

.p-title {
    width: 400px;
    line-height: 50px;
    color: #555;
    font-size: 20px;
}

.payment {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
    position: relative;
    a {
        line-height: 100px;
        margin: 0px 20px 20px 40px;
    }
    .pay {
        padding: 0;
        color: #fff;
        width: 200px;
        height: 70px;
        display: block;
        cursor: pointer;
        border: 0;
        line-height: 70px;
        text-align: center;
        background: red;
        font-size: 16px;
        margin-right: 60px;
    }
}

.foot-top {
    width: 100%;
    height: 120px;
    background: #f0f0f0;
    margin: 0;
    li {
        width: 22%;
        float: left;
        text-align: center;
        line-height: 80px;
        i {
            font-size: 30px;
        }
        span {
            font-size: 20px;
        }
    }
}

.help {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.help dl {
    float: left;
    font-size: 14px;
    margin: 20px 40px;
    text-align: center;
    line-height: 20px;
    dt {
        margin-bottom: 10px;
    }
    .phone {
        color: red;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .grey {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .kf {
        border: 2px solid red;
        color: red;
        padding: 4px 20px;
        &:hover {
            background: red;
            color: #fff;
        }
    }
}

.foot-bot {
    width: 100%;
    padding: 25px 0;
    font-size: 12px;
    color: #999;
    background-color: #e3e3e3;
    position: relative;
    li {
        float: left;
        margin: 10px 10px;
        padding: 0 10px;
        border-right: 1px solid #999;
    }
}

.gsba {
    text-align: center;
    width: 100%;
}

.language {
    position: absolute;
    right: 40px;
    top: 50px;
}

.wechat {
    position: relative;
    .wechat-1 {
        width: 100px;
        height: 140px;
        background: #fff;
        display: none;
        position: absolute;
        left: -10px;
        bottom: -140px;
        z-index: 999;
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        img {
            width: 100px;
            height: 100px;
        }
    }
    &:hover .wechat-1 {
        display: block;
    }
}

.ALL {
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 40px;
    span {
        margin: 10px;
        color: #999;
    }
    .all {
        width: 14px;
        height: 14px;
    }
}

.box-ewm {
    width: 400px;
    height: 400px;
    img {
        width: 100%;
        height: 100%;
    }
    p {
        text-align: center;
        font-size: 22px;
        color: red;
        font-weight: 600;
    }
}

.pri,
.add {
    color: red;
}

.replace {
    height: 400px;
    margin-left: 200px;
}